a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  padding-right: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}

body {
  font-family: sans-serif;
}

section {
  height: auto;
}

@-webkit-keyframes background {
  0% {
    background: #000000 url(../img/slider_img/1.jpg) center no-repeat;
    background-size: cover;
  }

  33% {
    background: #000000 url(../img/slider_img/2.jpg) center no-repeat;
    background-size: cover;
  }

  66% {
    background: #000000 url(../img/slider_img/3.jpg) center no-repeat;
    background-size: cover;
  }

  100% {
    background: #000000 url(../img/slider_img/1.jpg) center no-repeat;
    background-size: cover;
  }
}

@keyframes background {
  0% {
    background: #000000 url(../img/slider_img/1.jpg) center no-repeat;
    background-size: cover;
  }

  33% {
    background: #000000 url(../img/slider_img/2.jpg) center no-repeat;
    background-size: cover;
  }

  66% {
    background: #000000 url(../img/slider_img/3.jpg) center no-repeat;
    background-size: cover;
  }

  100% {
    background: #000000 url(../img/slider_img/1.jpg) center no-repeat;
    background-size: cover;
  }
}

@-webkit-keyframes pulse {
  0% {
    background: url(../img/animate_phone/phone0.png) center center no-repeat;
    background-size: 130%;
    background-position: -18px -19px;
  }

  15% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  30% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  45% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  60% {
    background: url(../img/animate_phone/phone4.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  75% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  90% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  100% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }
}

@keyframes pulse {
  0% {
    background: url(../img/animate_phone/phone0.png) center center no-repeat;
    background-size: 130%;
    background-position: -18px -19px;
  }

  15% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  30% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  45% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  60% {
    background: url(../img/animate_phone/phone4.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  75% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  90% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }

  100% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -16px -17px;
  }
}

.main {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  -webkit-animation: background 30s infinite;
  animation: background 30s infinite;
}

.main .nav_container {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  font-family: sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px #fff;
  box-shadow: 0 0 5px #fff;
}

.main .nav_container .nav {
  width: 100%;
  margin: 0 auto;
}

.main .nav_container ul {
  /* display: flex; */
  position: relative;
  width: 100%;
}

.main .nav_container li .small_car {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 70px;
  top: -1rem;
  left: 3rem;
  /* padding: 10px; */
  /* background-color: #fff; */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
  /* border-radius: 50%; */
}

.main .nav_container ul li {
  display: inline-block;
  padding-left: 2rem;
  margin: 0 auto;
  text-shadow: 0 0 25px #000;
}

.main .nav_container .nav_list {
  padding-left: 15rem;
}

.main .nav_container ul li.ua,
.main .nav_container .ru {
  position: relative;
  color: #000;
  text-shadow: 0 0 25px #fff;
  margin-left: 10rem;
}

.main .nav_container .ru {
  margin: 0;
  padding: 5px;
}

.main .title {
  position: relative;
  width: 100%;
  height: 10rem;
  top: 40%;
  left: 0;
  padding-left: 10rem;
  font-size: 2.5rem;
  padding-top: 2.5rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.main .title h1 {
  position: relative;
  font-family: sans-serif;
  margin: 0;
  border-bottom: 10px dashed rgba(255, 255, 255, 0.1);
}

.main .title img {
  display: inline-block;
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: -7rem;
}

/* =========== секция 2  price__block ============= */
.price {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 5rem;
}

.title_price_car {
  text-align: center;
  font-size: 2rem;
}

.price__block {
  display: inline-block;
  width: 18rem;
  padding: 0.7rem;
  margin: 1rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price__block:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 119, 255, 0.5);
  box-shadow: 0 0 10px rgba(0, 119, 255, 0.5);
  width: 18.5rem;
  border-radius: 10px;
}

.price__block li {
  display: inline;
  padding: 0;
  padding-right: 0.3rem;
}

.price__block h2 {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-bottom: 3px solid yellow;
  margin-bottom: 1.5rem;
}

.img_car {
  width: 260px;
  height: 170px;
  overflow: hidden;
  border-radius: 5%;
}

.img_car img {
  width: 100%;
  border-radius: 5%;
}

.icon_parametr_avto {
  width: 20px;
  height: 20px;
}

.price_auto {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 50px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 10px rgba(3, 0, 48, 0.514);
  box-shadow: 0 0 10px rgba(3, 0, 48, 0.514);
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 0 0 20px #000;
}

.logo_money {
  position: relative;
  display: block;
  padding: 0.7rem 4rem;
}

.when_need {
  margin-top: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.when_need_container {
  max-width: 1170px;
  margin: 0 auto;
}

.when_need_text {
  position: relative;
}

.when_need_text .think {
  position: relative;
  width: 150px;
  border-radius: 30%;
  float: left;
}

.when_need_text_h3 {
  display: inline-block;
  font-size: 2rem;
}

.when_need_text_p {
  text-align: left;
}

.when_need_text_img {
  display: block;
  position: relative;
  width: 300px;
  margin: 0 auto;
  float: right;
}

.comets {
  width: 50%;
  margin: 0 auto;
}

.footer {
  height: auto;
}

.footer_contact {
  height: 15rem;
  background-color: #4e4e4e;
}

.modal_window_call {
  position: fixed;
  right: 10rem;
  bottom: 10rem;
  width: 18rem;
  height: 21rem;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  display: none;
}

.modal_window_call span {
  display: inline-block;
  position: absolute;
  color: #fff;
  right: 1rem;
  top: -5px;
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.modal_window_call span:hover {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-shadow: 0 0 20px #ffffff;
}

.modal_window_call_phones {
  position: relative;
  color: #000;
  background-color: transparent;
  width: 100%;
  height: 15rem;
  bottom: -3rem;
  border-radius: 10%;
}

.modal_window_call_phones_number {
  display: block;
  position: relative;
  width: 100%;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal_window_call_phones_number:hover {
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.modal_window_call_phones_number a {
  display: block;
  position: relative;
  color: #000;
  font-size: 2rem;
  width: 100%;
  height: 5rem;
  margin: 1px;
}

.modal_window_call_phones_number a img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 5%;
}

.modal_window_call_phones_number a img:hover {
  opacity: 1;
}

div#__replain_widget {
  inset: auto 12rem 10px auto !important;
}

.menu_burger {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  right: 1rem;
  top: 1rem;
  z-index: 50;
  cursor: pointer;
  display: none;
}

.menu_burger span {
  position: relative;
  display: block;
  width: 40px;
  height: 6px;
  margin: 5px auto 0 auto;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@-webkit-keyframes name {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes name {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu_berger_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  padding-top: 1rem;
  z-index: 50;
  -webkit-animation: name 0.7s;
  animation: name 0.7s;
  display: none;
}

.menu_berger_list_close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

.menu_berger_list li {
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

.menu_berger_list .small_car {
  width: 10rem;
}

.call__btn {
  position: fixed;
  border: none;
  background: url(/img/animate_phone/phone0.png) center center no-repeat;
  background-size: 120%;
  -webkit-box-shadow: 0 0 20px 10px rgba(60, 255, 0, 0.404);
  box-shadow: 0 0 20px 10px rgba(60, 255, 0, 0.404);
  height: 8rem;
  width: 8rem;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: pulse 3s infinite;
  animation: pulse 3s infinite;
}

.call__btn:hover {
  -webkit-box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.555);
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.555);
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
}

.call__btn:active {
  border: none;
  outline: none;
  text-decoration: none;
}

.call__btn:focus {
  border: none;
  outline: none;
  text-decoration: none;
}

.call__btn:visited {
  border: none;
  outline: none;
  text-decoration: none;
}

.call__btn img {
  width: 100%;
  border-radius: 50%;
  padding-top: 4px;
}

.container {
  width: 100vw;
  margin: 0 auto;
}

.slider {
  position: relative;
  max-width: 100%;
  min-height: 50rem;
  margin: 0 auto;
  overflow: hidden;
  /* display: none; */
}

.slider_line {
  /* display: flex; */
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.slider_line img {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.opasiti0 {
  opacity: 0;
}

@media (max-width: 767px) {
  .nav_container {
    display: none;
  }

  .menu_burger {
    display: block;
  }

  .title {
    position: relative;
    width: 100%;
    height: 7rem !important;
    top: 15rem !important;
    padding: 4rem 1rem 2rem 1rem !important;
  }

  .title h1 {
    position: relative;
    font-size: 1.5rem;
    margin: 0;
  }

  .title img {
    display: inline-block;
    position: absolute;
    width: 10rem !important;
    height: 10rem !important;
    top: -5rem !important;
    left: 10rem;
  }

  .call__btn {
    width: 70px;
    height: 70px;
    background-size: 148% !important;
    bottom: 5.5rem;
    right: 0.7rem;
  }

  .call__btn img {
    padding-top: 55px;
  }

  .modal_window_call {
    right: 2rem;
    -webkit-animation: name 0.7s;
    animation: name 0.7s;
  }

  div#__replain_widget {
    inset: auto 0.5rem 10px auto !important;
  }

  .when_need_container {
    margin: 1rem;
  }

  .modal_window_call_phones_number a img {
    opacity: 1;
  }

  .footer {
    width: 100%;
  }

  .footer_contact {
    width: 100%;
  }

  #sigCommentsBlock {
    width: 23rem;
    -webkit-transform: translateX(-6rem);
    transform: translateX(-6rem);
    left: -10rem !important;
  }
}
