a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  // transition: 0.5s;
}

html {
  padding-right: 0 !important;
  margin-right: 0 !important;
  width: 100%;
}

body {
  font-family: sans-serif;
}

section {
  height: auto;
}

// Анимация слайдов на фоне main
@keyframes background {
  0% {
    background: #000 url(../img/slider_img/1.jpg)center no-repeat;
    background-size: cover;
  }

  33% {
    background: #000 url(../img/slider_img/2.jpg)center no-repeat;
    background-size: cover;
  }

  66% {
    background: #000 url(../img/slider_img/3.jpg)center no-repeat;
    background-size: cover;
  }

  100% {
    background: #000 url(../img/slider_img/1.jpg)center no-repeat;
    background-size: cover;
  }
}

// Анимаця кнопки позвонить 
@keyframes pulse {
  0% {
    background: url(../img/animate_phone/phone0.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  15% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  30% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  45% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  60% {
    background: url(../img/animate_phone/phone4.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  75% {
    background: url(../img/animate_phone/phone3.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  90% {
    background: url(../img/animate_phone/phone2.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }

  100% {
    background: url(../img/animate_phone/phone1.png) center center no-repeat;
    background-size: 125%;
    background-position: -12px -13px;
  }
}

//  анимация кнопки закрыть
@keyframes close {
  0% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}

.main {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background: #000 url(../img/slider_img/1.jpg)center no-repeat;
  background-size: cover;
  animation: background 30s infinite;

  // Навигация 

  .nav_container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4.5rem;
    color: #fff;
    font-size: 1.3rem;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px #fff;
    z-index: 2;

    .nav {
      width: 100%;
      margin: 0 auto;

      li>span,
      a>span {
        display: block;
        position: absolute;
        font-size: 0.8rem;
      }

    }

    li.nav_contract {
      cursor: pointer;
    }


    ul {
      /* display: flex; */
      position: relative;
      width: 100%;
    }

    li .small_car {
      position: absolute;
      display: inline-block;
      width: 150px;
      height: 70px;
      top: -1rem;
      left: 3rem;
      /* padding: 10px; */
      /* background-color: #fff; */
      /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
      /* border-radius: 50%; */
    }

    ul li {
      display: inline-block;
      padding-left: 2rem;
      margin: 0 auto;
      text-shadow: 0 0 25px #000;
    }

    .nav_list {
      padding-left: 15rem;
    }

    ul li.ua,
    .ru {
      position: relative;
      color: #000;
      text-shadow: 0 0 25px #fff;
      margin-left: 10rem;
    }

    .ru {
      margin: 0;
      padding: 5px;
    }

  }

  // Заголовоек

  .title {
    position: relative;
    width: 100%;
    height: 10rem;
    top: 40%;
    left: 0;
    padding-left: 10rem;
    font-size: 2.5rem;
    padding-top: 2.5rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;

    h1 {
      position: relative;
      font-family: sans-serif;
      margin: 0;
      // text-decoration: underline
      border-bottom: 10px dashed rgba(255, 255, 255, 0.1);
    }

    img {
      display: inline-block;
      position: absolute;
      width: 20rem;
      height: 20rem;
      top: -7rem;
    }
  }

}

/* =========== секция 2  price__block ============= */
.price {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 5rem;
}

.title_price_car {
  text-align: center;
  font-size: 2rem;

}

.price__block {
  display: inline-block;
  width: 18rem;
  padding: 0.7rem;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.5);
    width: 18.5rem;
    border-radius: 10px;
  }

  li {
    display: inline;
    padding: 0;
    padding-right: 0.3rem;
  }
}


.price__block h2 {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border-bottom: 3px solid yellow;
  margin-bottom: 1.5rem;
}

.img_car {
  width: 260px;
  height: 170px;
  overflow: hidden;
  border-radius: 5%;
}

.img_car img {
  width: 100%;
  border-radius: 5%;
}

.icon_parametr_avto {
  width: 20px;
  height: 20px;
}

.price_auto {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 260px;
  height: 50px;
  margin-top: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 10px rgba(3, 0, 48, 0.514);
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-shadow: 0 0 20px #000;

}

.logo_money {
  position: relative;
  display: block;
  padding: 0.7rem 4rem;
}

// ========= Блок 3 when_need =============

.when_need {
  // box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  margin-top: 3rem;
  padding-top: 2rem;
  margin-bottom: 4rem;

  &_container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &_text {
    position: relative;


    .think {
      position: relative;
      width: 150px;
      // left: 12rem;
      border-radius: 30%;
      float: left;
    }

    &_h3 {
      display: inline;

      font-size: 2rem;
    }


    &_p {
      text-align: left;

    }

    &_img {
      display: block;
      position: relative;
      width: 300px;
      margin: 0 auto;
      float: right;
    }


  }

}

// Коментарии

.comets {
  width: 50%;
  margin: 0 auto;
}


// footer

.footer {
  height: auto;

  &_contact {
    height: 15rem;
    background-color: rgb(78, 78, 78);
  }

}



// модальные окна 
// Машины и цены
.modal_window_car_price {
  position: fixed;
  width: 65rem;
  height: 30rem;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  animation: hide 1s;
  display: none;

  .close_modal_car_price {
    position: absolute;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    animation: close 10s infinite;
  }

  &_content {
    display: inline-flex;
    width: 100%;
    height: 100%;

    &_img {
      display: inline-block;
      position: relative;
      width: 27rem;
      margin-top: 5rem;
      margin-left: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        margin-bottom: 3rem;
      }

    }

    &_table {
      position: relative;
      display: flex;
      width: 35rem;
      height: 25rem;
      margin-top: 3rem;
      margin-left: 1rem;
      // box-shadow: 0 0 20px #000;

      &_colum {
        position: relative;
        display: block;
        width: 120px;
        height: 21rem;
        margin-left: 0.3rem;
        // box-shadow: 0 0 20px #000;

        &_block {
          position: relative;
          display: block;
          height: 6rem;
          margin-top: 0.4rem;
          border-radius: 10px;
          padding: 0.5rem;
          text-align: center;
          font-size: 1rem;
          // box-shadow: 0 0 20px #000;

          img {
            width: 60%;
          }
        }

        .head_table {
          height: 4rem;
          border-radius: 0%;
          padding-top: 1rem;
          font-size: 0.9rem;
          background-color: #d6d4d4;
        }

        .price_day_tble {
          height: 3rem;
          padding-top: 0.8rem;
          font-size: 1.3rem;
          font-weight: bold;
          color: rgb(202, 156, 5);
        }

        .img_table {
          height: 6rem;
          font-size: 0.9rem;
        }

        .margin {
          margin-top: 10rem !important;
        }
      }
    }
  }

}

// кнопка позвонить
.modal_window_call {
  position: fixed;
  right: 10rem;
  bottom: 10rem;
  width: 18rem;
  height: 21rem;
  z-index: 3;
  background-color: transparent;
  border-radius: 10%;
  display: none;

  &:hover {}

  span {
    display: inline-block;
    position: absolute;
    color: #000;
    right: 1rem;
    top: -5px;
    font-size: 2rem;
    padding: 0 0.6rem;
    border: 1px solid #000;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    animation: close 5s infinite;

    &:hover {
      font-size: 2.5rem;
      padding: 0.2rem 0.8rem 0;
      transform: rotate(90deg);
    }
  }

  &_phones {
    position: relative;
    color: #000;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    bottom: -3rem;
    border-radius: 10%;

    &_number {
      display: block;
      position: relative;
      width: 100%;
      bottom: 0;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
      }

      a {
        display: block;
        position: relative;
        color: #000;
        font-size: 2rem;
        width: 100%;
        height: 5rem;
        margin: 1px;

        img {
          width: 100%;
          height: 100%;
          opacity: 0.8;
          border-radius: 5%;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}

.contract_modal_window {
  position: absolute;
  background-color: #fff;
  width: 60rem;
  height: auto;
  left: 50%;
  top: 5rem;
  padding: 3rem;
  border-radius: 2rem;
  z-index: 3;
  transform: translate(-50%);
  animation: hide 1s;
  display: none;

  &_close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 3rem;
    color: #000;
    cursor: pointer;
    z-index: 99;
    transition: 0.3s;
    animation: close 10s infinite;

    &:hover {
      font-size: 3.5rem;
    }
  }

  .title_conditions,
  .title_contract {
    display: inline-block;
    width: 20rem;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
    text-align: center;
    margin: 0 3rem 2rem 3rem;
    border-radius: 50px;
    color: rgb(56, 56, 56);
    background-color: #c6c6c6;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px #000;
    }
  }

  &_text {}
}

.contract_back {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}

// Чат переписка с клиентом
div#__replain_widget {
  inset: auto 11rem 10px auto !important;
  transition: 0.6s;
}

//  Меню бургер 

.menu_burger {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  right: 1rem;
  top: 1rem;
  z-index: 50;
  cursor: pointer;
  display: none;



  span {
    position: relative;
    display: block;
    width: 40px;
    height: 6px;
    margin: 5px auto 0 auto;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

@keyframes hide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.menu_berger_list {
  position: fixed;
  top: 0;
  right: 0;
  width: 15rem;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  padding-top: 1rem;
  z-index: 50;
  animation: hide 0.7s;
  display: none;

  ul {
    padding: 0;
    margin: 0;
  }


  .contract {
    color: #fff;
  }

  &_close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    animation: close 5s infinite;
  }


  li {
    padding: 1rem;
    border-bottom: 1px solid #fff;
  }

  .small_car {
    width: 10rem;
  }
}

.close_end {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 3 !important;
  display: none;
}

// Кнопка позвонить

.call__btn {
  position: fixed;
  border: none;
  // border: 3px solid rgba(255, 255, 255, 0.521);
  background: url(../img/animate_phone/phone0.png) center center no-repeat;
  background-size: 120%;

  // box-shadow: 0 0 20px 10px rgba(60, 255, 0, 0.404);
  height: 6rem;
  width: 6rem;
  right: 3rem;
  bottom: 1rem;
  border-radius: 50%;
  z-index: 99;
  overflow: hidden;
  transition: 0.5s;
  animation: pulse 3s infinite;

  &:hover {
    // transform: rotate(-260deg);
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.555);
    transform: rotate(95deg);
  }

  &:active {
    border: none;
    outline: none;
    text-decoration: none;
  }

  &:focus {
    border: none;
    outline: none;
    text-decoration: none;
  }

  &:visited {
    border: none;
    outline: none;
    text-decoration: none;
  }
}

.call__btn img {
  width: 100%;
  border-radius: 50%;
  padding-top: 4px;
}

// Слайдер на фон (?)

// .container {
//   width: 100vw;
//   margin: 0 auto;
// }

// .slider {
//   position: relative;
//   max-width: 100%;
//   min-height: 50rem;
//   margin: 0 auto;
//   overflow: hidden;
//   /* display: none; */
// }

// .slider_line {
//   /* display: flex; */
//   width: 100%;
//   height: 100%;
//   transition: all ease 0.4s;
// }

// .slider_line img {
//   position: absolute;
//   height: 100%;
//   width: 100%;
//   transition: 1s;
// }

.opasiti0 {
  opacity: 0;
}

// Кнопка вверх 
.up {
  position: fixed;
  right: 50%;
  transform: translate(50%);
  bottom: 1rem;
  font-size: 1.8rem;
  border-radius: 50%;
  padding: 0.3rem 0.8rem;
  // border: 1px dashed #000;
  background-color: #fff;
  box-shadow: 0 0 30px 1px #fff;
  opacity: 0.7;
  z-index: 5;

  a {
    color: #000;
  }
}

// ===== Медиа запросы ======= 

@media (max-width: 767px) {

  //  Блок 1 
  // навигация
  .nav_container {
    display: none;
  }

  //  Менб бургер
  .menu_burger {
    display: block;
  }


  // Заголовоек

  .title {
    position: relative;
    width: 100%;
    height: 7rem !important;
    top: 15rem !important;
    padding: 4rem 1rem 2rem 1rem !important;

    h1 {
      position: relative;
      font-size: 1.5rem;
      margin: 0;
    }

    img {
      display: inline-block;
      position: absolute;
      width: 10rem !important;
      height: 10rem !important;
      top: -5rem !important;
      left: 10rem;
    }
  }

  //  Блок 3 
  .when_need {
    padding: 1rem;

    .think {
      width: 7rem;
    }

    .when_need_text_h3 {
      font-size: 1.6rem;
    }

    img {
      width: 60%;
    }
  }

  .call__btn {
    width: 70px;
    height: 70px;
    background-size: 134% !important;
    background-position: -12px -12px !important;
    bottom: 5.5rem;
    right: 0.7rem;

    img {
      // padding-top: 55px;
    }
  }

  .modal_window_call {
    right: 2rem;
    animation: hide 0.7s;

  }

  // Чат 
  div#__replain_widget {
    inset: auto 0.5rem 10px auto !important;
  }



  .modal_window_call {
    &_phones {
      &_number {
        a {
          img {
            opacity: 1;
          }
        }
      }
    }
  }

  // Отзывы 
  .footer {
    width: 100%;

    &_contact {
      width: 100%;
    }
  }

  #sigCommentsBlock {
    width: 23rem;
    transform: translateX(-6rem);
    left: -10rem !important;
  }

  //  модальные окна
  .contract_modal_window {
    width: 100vw;
    margin-top: 0;
    padding: 3rem 1rem;
  }

  .contract_back {
    width: 100vw;
  }
}